
.weather-data-main-div {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 100%;
    align-items: center;
}

#forecast-data-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-areas: 
    'date time temp forecast';
    align-content: left;
    border: solid 1px black;
    width: 60vw;
}

.weather-data-row {
    text-align: center;
    width: 100%;
    background-color: rgb(231, 231, 206);
}

#weather-date {
    grid-area: date;
}

#weather-time {
    grid-area: time;
}

#weather-temp {
    grid-area: temp;

}

#weather-forecast {
    grid-area: forecast;
    text-align: left;
    margin-left: 4vw;
}

.weather-data-header-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-areas: 
    'header-date header-time header-temp header-forecast';
    border: solid 1px black;
    width: 60vw;
    height: 100%;
    background-color: rgb(218, 218, 172);
}

#header-date {
    grid-area: header-date;
}

#header-time {
    grid-area: header-time;
}

#header-temp {
    grid-area: header-temp;
}

#header-forecast {
    grid-area: header-forecast;
    text-align: left;
    margin-left: 3.5vw;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    border-radius: 20px;
    background-color: rgb(231, 231, 230);
    margin: 1vw;
    padding: 1vw;
    overflow-x: scroll;
  }
  
  .day {
    width: 150px;
    height: 200px;
    min-width: 120px;
    margin-bottom: 20px;
    text-align: center;
    border: solid 1px black;
    background-color: rgb(223, 221, 219);
    border-radius: 25px;
    margin: 5px;
  }
  
  .day h3 {
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: 1.2em;
    margin-bottom: 2px;
  }
  
  .day p {
    font-size: 0.9em;
    color: #666;
  }

  .btn-price {
    font-size: 1.8em;
    width: 50vw;
    border: solid 2px black;
    border-radius: 20px;
    padding: 1vh;
    background-color: rgb(247, 247, 247);
  }

  #btn-price-div {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
    text-align: center;
  }
