
#color-change-btn-div {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-self: space-around;
}

.color-change-btn {
    width: 95%;
    height: 100%;
}

#increase-count-btn {
    width: 20vw;
    height: 5vh;
    background-color: rgb(173, 235, 173);
}

#traffic-light-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#traffic-light-body {
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 205, 48);
    width: 150px;
    align-items: center;
    border: groove 2px black;
    border-radius: 4px;
}

.traffic-light {
    display: flex;
    border-radius: 100%;
    margin: 1.5vh;
    border: solid 1px black;
}

.row {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.two-row-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'count'
    'buttons';
    align-content: center;
}

.square {
    display: flex;
    height: 5vh;
    width: 5vh;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 1%;
}

.label-text {
    font-size: 4vh;
    font-weight: 600;
    align-self: center;
}

.btn {
    height: 50%;
    align-self: center;
    background-color: rgb(31, 161, 221);
}

.btn-text {
    white-space: nowrap;
}

#increase-count-btn {
    font-size: 1.2vw;
}